@font-face {
    font-display: swap;
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'emodzi';
    src: url('../../fonts/NotoColorEmoji-Regular.woff2') format('woff2');
}