.threeImgBoxes {
    display: flex;
    gap: 10px;
    .imageHolder {
        flex: 1 0 100%;
        aspect-ratio: 420/446;
        max-width: calc((100% - 20px) / 3);
    }
}

.counterList {
    display: flex;
    justify-content: space-between;
    .number {
        font-weight: 600;
        @include font(36, 54);
        display: block;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 5px;
        &::after {
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 6px;
            width: 72px;
            background: linear-gradient(to right, $blue-color 14%, $orange-light-color 14%, $orange-light-color 76%, $orange-color 76%, $orange-color 100%);
        }
    }
}

.leftImageBox {
    display: flex;
    background-color: $white-color;
    .imgHolder {
        aspect-ratio: 296/248;
        width: 100%;
        max-width: 296px;
        @media only screen and (max-width: 1240px) {
            max-width: 240px;
        }
    }
    .textHolder {
        padding: 32px 30px 25px 33px;
        @media only screen and (max-width: 1240px) {
            padding: 25px;
        }
        .h4 {
            height: 111px;
            overflow: hidden;
            @media only screen and (max-width: 660px) {
                height: auto;
            }
        }
        .arrowLink {
            padding-right: 34px;
        }
    }
    .date {
        @include font(14, 20);
        color: $font-color-grey;
        margin-bottom: 10px;
        display: block;
    }
}
.authorInfo {
    span {
        display: block;
    }
    .publishDate {
        color: $font-color;
        @include font(14, 20);
    }
}
//modal box
.overLightModal {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1099;
    justify-content: center;
    align-items: center;
    display: none;
    &.open {
        display: flex;
    }
    .modalBox {
        width: 50%;
        padding: 5%;
        z-index: 1100;
        background-color: $white-color;
        position: relative;
        .closeBtn {
            position: absolute;
            right: 5%;
            top: 6%;
        }
        textarea {
            height: 40px;
        }
    }
}