label {
    font-weight: 500;
    @include font(14, 20);
    color: $font-color-grey;
}
input {
    font-family: $base-font;
    font-weight: 500;
    @include font(16, 24);
    width: 100%;
    color: $main-color;
    border: 0;
    border-bottom: 1px solid $font-color-lightest;
    margin-bottom: 24px;
    padding: 7px 0 5px;
}
textarea {
    width: 100%;
    color: $main-color;
    border: 0;
    border-bottom: 1px solid $font-color-lightest;
    margin-bottom: 24px;
    font-family: "Poppins", sans-serif;
    @include font(16, 24);
    padding: 10px 0 5px;
    resize: none;
    height: 100px;
    &::placeholder {
        font-family: "Poppins", sans-serif;
        @include font(16, 24);
        color: $font-color-grey;
    }
}
input:focus, textarea:focus {
    border: 0;
    outline: none;
    border-bottom: 1px solid $main-color;
}

.fildSection {
    position: relative;
    label {
        position: absolute;
        left: 0;
        top: 8px;
        transition: all 0.4s ease;
    }
    input {
        margin-bottom: 35px;
    }
    input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label,
    textarea:not(:placeholder-shown) + label {
        top: -8px;
        @include font(12, 16);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 9999s ease-in-out 0s;
    }
}
.input-error {
    @include font(12, 16);
    font-weight: 500;
    color: red;
    position: absolute;
    left: 0;
    bottom: -18px;
}
#subScribe input {
  width: 100%;
  padding: 20px 30px;
  font-family: $base-font;
  font-weight: 500;
  color: $font-color;
  @include font(16, 24);
}
#applyNow form .checkboxHolder {
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:focus {
             + label::before {
                border-color: $blue-color;
                box-shadow: 0 0 0 0.2rem rgb(68 76 252 / 25%);
            }
        }
        &:checked  {
            + label {
                &::after {
                     opacity: 1;
                }
                &::before {
                    background-color: $blue-color;
                }
            }
        }
    }
    label {
        position: relative;
        padding-left: 57px;
        display: block;
        left: 0;
        top: 0;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 36px;
            height: 36px;
            border: 3px solid $blue-color;
        }
        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 10px;
            border-left: 3px solid $white-color;
            border-bottom: 3px solid $white-color;
            transform:  rotate(-45deg);
            left: 11px;
            top: 10px;
            opacity: 0;
        }
    }
}