.arrowLink {
    padding-right: 40px;
    position: relative;
    font-weight: 500;
    color: $font-link-color;
    transition: all 0.6s ease;
    .hoverEfectLinks {
      position: relative;
      &::after {
          content: '';
          width: 0;
          height: 1px;
          background-color: $font-link-color;
          box-shadow: 0 0 4px $font-link-color;
          position: absolute;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          transition: all .3s ease;
      }
    }
    &:not(.btn):hover {
      transform: scale(1.1);
      text-shadow: $font-link-color 1px 0 10px;
      .hoverEfectLinks {
        &::after {
            width: 100%;
        }
      }
    }
    &.read-more {
      padding-right: 36px;
    }
    &::after {
        content: ' ';
        width: 20px;
        height: 1px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: $main-color;
    }
    &::before {
        content: ' ';
        width: 6px;
        height: 6px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(45deg);
        border: 1px solid $main-color;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
.hoverEfectLinks {
  position: relative;
  &::after {
      content: '';
      width: 0;
      height: 1px;
      background-color: $main-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s ease;
  }
  &:has(.arrowLink:hover) {
      &::after {
          width: 100%; 
      }
  }
}
.hoverEfectBtn {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  background: linear-gradient(to right, $orange-color, $orange-light-color);
  transform: translateX(-120%) skew( -45deg, 0);
  transition: all .6s ease;
}
.btn {
  position: relative;
  border: 0;
  font-weight: 500;
  font-family: $base-font;
  @include font(16, 24);
  color: $font-color-opacity-white;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 68px 0 32px;
  background-color: $blue-color;
  cursor: pointer;
  transition: all 0.8s ease;
  overflow: hidden;
  .text {
    position: relative;
    z-index: 3;
  }
  &:hover {
    .hoverEfectBtn {
      transform: translateX(-10%) skew( -45deg, 0);
    }
    .text {
      color: $font-color2;
    }
    &.arrowLink {
      &::after {
        background-color: $font-color2;
      }
      &::before {
        border-top-color: $font-color2;
        border-right-color: $font-color2;
      }
    }
  }
  &.arrowLink {
    &::after {
        background-color: $font-color-opacity-white;
        right: 32px;
        z-index: 3;
    }
    &::before {
        border-top-color: $font-color-opacity-white;
        border-right-color: $font-color-opacity-white;
        right: 32px;
        z-index: 3;
    }
  }
}
.closeBtn {
  border: 0;
  width: 40px;
  height: 40px;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  cursor: pointer;
  transition: all 0.8s ease;
  &:hover {
    background-color: $orange-color;
    color: $font-color2;
  }
}
.colorLineLink {
    position: relative;
    padding-left: 55px;
    &::after {
        content: ' ';
        width: 50px;
        height: 14px;
        top: 50%;
        left: -3px;
        transform: translateY(-50%);
        position: absolute;
        background: linear-gradient(to right, $orange-light-color 26%, $vialet-color 26%, $vialet-color 100%);
    }
    &::before {
        content: ' ';
        width: 0;
        height: 14px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: absolute;
        transition: all ease-in-out 0.3s;
        background: $orange-light-color;
        z-index: 1;
    }
    &:has(a:hover) {
        &::before {
            width: 50px;
        }
    }
}
.sotial-links {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  a {
    display: inline-block;
    svg {
      vertical-align: text-top;
    }
    &:hover svg {
        transform: scale(1.5);
      path {
        fill: $blue-color;
      }
    }
  }
}