.titleSectionHolder {
    width: 61%;
    padding-bottom: 1px;
    @media only screen and (max-width: 960px) {
        width: 100%;
    }
    &.subSection {
        width: 49%;
        @media only screen and (max-width: 960px) {
            width: 100%;
        }
    }
    .stylishCornerTreeColor {
        margin-top: 35px;
        @media only screen and (max-width: 960px) {
            margin-top: 0;
        }
    }
}
//slider
.sliderItems {
    padding-top: 80px;
    @media only screen and (max-width: 960px) {
        padding-top: 50px;
    }
    .slick-slider {
        margin: 0 -15px;
    }
    .slick-slide {
        padding: 0 16px;
    }
    .item {
        padding: 48px 22px 44px 48px;
        color: $font-color2;
        background-color: $white-color;
        @media only screen and (max-width: 1200px) {
            padding-left: 22px;
        }
        @media only screen and (max-width: 960px) {
            padding: 25px 22px 25px;
        }
        .titleItem {
            color: $black-color;
            font-weight: 600;
            margin-bottom: 9px;
            & ~ p {
                height: 96px;
                overflow: hidden;
            }
        }
        .arrowLink {
            padding-right: 35px;
        }
        svg {
            width: 47px;
            height: 47px;
            display: block;
            margin-bottom: 20px;
        }
    }
    /* arrow slider */
    .prev-btn, .next-btn {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        @include circle(30);
        transform: translateY(-50%);
        cursor: pointer;
        border: 0;
        outline: none;
        background: $blue-lightest-color;
        opacity: 0.6;
        z-index: 1;
        svg {
            width: 30px;
            height: 30px;
            display: block;
            circle {
                stroke: $main-color;
            }
            path {
                fill: $main-color;
            }
        }
        &:hover {
            opacity: 1;
            transform: translateY(-50%) scale(1.1);
            box-shadow: 0 0 10px $blue-lightest-color;
        }
    }
    .next-btn {
        left: auto;
        right: 0;
    }
}
section .slick-dots {
    text-align: center;
    bottom: -40px;
    li {
        width: 15px;
        height: 15px;
        margin: 0 15px;
        button {
            &::before {
                @include circle(15);
                position: absolute;
                top: 0;
                left: 0;
                width: 15px;
                height: 15px;
                content: '';
                background: $blue-lightest-color;
            }
        }
        &.slick-active {
            button::before {
                background: $blue-color;
            }
        }
    }
}
//subscribe
.subScribe {
    padding-bottom: $main-space;
    @media only screen and (max-width: 1020px) {
        padding-bottom: $main-space-tb;
    }
    &.stylishCornerTreeColor::after, &.stylishCornerTreeColor::before {
        @media only screen and (max-width: 660px) {
            display: none;
        }
    }
    .rightColorFullLine {
        &::after {
            width: 23px;
            @media only screen and (max-width: 660px) {
                display: none;
            }
        }
    }
    &::after {
        width: 89px;
        height: 51px;
        border-top-width: 30px;
        border-image: linear-gradient(to right, #FFA155 27%, #FFD3AF 27%, #FFD3AF 64%, #a3a7ff 64%, #a3a7ff 100%) 1;
        
    }
    &::before {
        width: 31px;
        height: 30px;
        top: 51px;
        background-color: #a3a7ff;
    }
    > div {
        background-color: $vialet-color;
        color: $white-color;
        height: 333px;
        padding: 0 $main-space;
        align-items: center;
        @media only screen and (max-width: 1020px) {
            padding: 0 $main-space-tb;
        }
        @media only screen and (max-width: 960px) {
            height: auto;
            padding: 40px 80px 20px;
            align-items: flex-start;
        }
        @media only screen and (max-width: 660px) {
            padding: 20px 20px 0px;
        }
    }
    form {
        width: 100%;
        padding: 10px 21px 0 65px;
        @media only screen and (max-width: 960px) {
            padding: 0;
        }
        input:focus, input:active {
            border: 0;
        }
    }
}

//service page
.servicesPageCampaign {
    .twoColumns {
        align-items: center;
        @media only screen and (max-width: 960px) {
            flex-direction: row;
            gap: 20px;
            & > div {
                max-width: 47%;
            }
        }
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            & > div {
                max-width: 100%;
            }
        }
        p {
            margin-bottom: 41px;
        }
    }
    .navOnPage {
        padding-top: 13px;
        
        li {
            margin-bottom: 16px;
        }
        .arrowLink {
            color: $main-color;
            font-weight: 600;
            @include font(24, 36);
            &::before, &::after {
                display: none;
            }
            &:hover {
                &::before, &::after {
                    display: block;
                }
            }
        }
    }
}
.servicesPage.bg-violet {
    z-index: -1;
    position: relative;
}
.servicePageContent {
    .imageAndText {
        .twoColumns {
            align-items: center;
            .textHolder {
                padding-left: 17px;
            }
            @media only screen and (max-width: 960px) {
                flex-direction: row;
                & > div {
                    max-width: 47%;
                }
            }
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                & > div {
                    max-width: none;
                }
            }
        }
        .revert {
            flex-direction: row-reverse;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                & > div {
                    max-width: none;
                }
            }
            .textHolder {
                padding-left: 0;
            }
        }
        .imageHolder {
            aspect-ratio: 516/539;
            width: 100%;
            max-width: 516px;
            align-self: flex-start;
            margin-top: -96px;
            @media only screen and (max-width: 1200px) {
                max-width: 45%;
            }
            @media only screen and (max-width: 1020px) {
                margin-top: 0;
            }
            @media only screen and (max-width: 768px) {
                margin-bottom: 20px;
                max-height: 350px;
            }
            @media only screen and (max-width: 480px) {
                max-height: 250px;
            }
        }
    }
}
//company
.titleSectionHolder.pixelOrange {
    padding-top: 60px;
}
.subColorSection {
    padding: $main-space 0 0;
    gap: 16px;
    @media only screen and (max-width: 1020px) {
        padding: $main-space-tb 0 0;
    }
    .pixelViolete {
        padding-top: 28px;
        padding-right: 60px;
        @media only screen and (max-width: 960px) {
            padding-right: 0;
        }
    }
    & > .bg-orange {
        display: flex;
        align-items: center;
        justify-content: center;
        .counterList {
            flex-wrap: wrap;
            gap: 30px 0;
            width: 65%;
            margin-top: -18px;
            & > div {
                width: 50%;
            }
            @media only screen and (max-width: 960px) {
                margin: 20px 0;
            }
            @media only screen and (max-width: 480px) {
                width: 85%;
            }
        }
    }
}
.listImages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 45px;
    @media only screen and (max-width: 660px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .card {
        position: relative;
        &:hover {
            .textHolder {
                opacity: 1;
            }
        }
    }
    .textHolder {
        opacity: 0;
        transition: all 0.8s ease;
        background-color: rgba(35, 37, 54, 0.95);
        color: $white-color;
        width: 100%;
        height: 100%;
        padding: 48px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        @media only screen and (max-width: 960px) {
            padding: 15px;
        }
        .name {
            font-weight: 600;
            @include font(24, 36);
            margin-bottom: 8px;
        }
        .position {
            font-weight: 500;
            @include font(14, 20);
            color: $font-color;
        }
    }
}

//career
.careerFirstSection {
    background-image: url('./../../images/bg-careers.jpg');
    background-position: center 99%;
    position: relative;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    overflow: hidden;
    @media only screen and (max-width: 1350px) {
        padding-bottom: 174px;
    }
    @media only screen and (max-width: 960px) {
        padding-bottom: 74px;
        background-size: contain;
    }
    @media only screen and (max-width: 480px) {
        padding-bottom: 54px;
        &::before, &::after {
            display: none;
        }
    }
    .oneColumn {
        background-color: $white-color;
        text-align: center;
        .titleSectionHolder {
            margin: 0 auto;
        }
        .sectionTitle {
            margin-bottom: 28px;
        }
    }
    h1 {
        mix-blend-mode:screen;
        @include font(275, 275);
        height: 250px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $white-color;
        text-align: center;
        @media only screen and (max-width: 1350px) {
            @include font(175, 175);
            height: 175px;
        }
        @media only screen and (max-width: 960px) {
            @include font(75, 75);
            height: 75px;
        }
        @media only screen and (max-width: 480px) {
            @include font(55, 55);
            height: 55px;
        }
    }
}
.linkScrollHolder {
    text-align: center;
    padding-top: 65px;
    @media only screen and (max-width: 1020px) {
        padding-top: 25px;
    }
    a {
        color: $main-color;
        @include font(18, 28);
        font-weight: 500;
        display: inline-block;
        span {
            display: block;
            margin-top: 10px;
        }
    }
}
.listGreedBox {
    padding: 78px 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    margin-top: 96px;
    @media only screen and (max-width: 1020px) {
        padding: 40px;
        margin-top: 30px;
    }
    @media only screen and (max-width: 960px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 660px) {
        gap: 15px;
        padding: 25px;
    }
    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .simpleBox {
        padding: 51px 50px 28px;
        display: flex;
        flex-direction: column;
        background-color: $white-color;
        min-height: 243px;
        @media only screen and (max-width: 1200px) {
            padding: 30px;
        }
        @media only screen and (max-width: 660px) {
            padding: 20px;
        }
        @media only screen and (max-width: 768px) {
            min-height: auto;
        }
        &-title {
            font-weight: 600;
            margin-bottom: 10px;
        }
        &-text {
            flex-grow: 1;
            span {
                margin-bottom: 3px;
                color: $font-color;
                display: block;
            }
        }
        .arrowLink {
            color: $font-link-color2;
            padding-right: 30px;
        }
    }
}
.spotList {    
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    @media only screen and (max-width: 960px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
    .spot {
        background-color: $white-color;
        padding: 33px 56px 7px 31px;
        color: $font-color;
        @include font(14, 20);
        @media only screen and (max-width: 768px) {
            padding: 20px 20px 7px 20px;
        }
        &-icon {
            display: inline-flex;
            @include circle(40);
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
            @include font(16, 28);
            background-color: $orange-lightest-color;
        }
        &-title {
            font-weight: 600;
            margin-bottom: 8px;
            color: $main-color;
            @include font(16, 28);
        }
    }
}
//news
.mainNews {
    .authorInfo span {
        display: inline-block;
        &.publishDate {
            border-left: 1px solid $font-color;
            margin-left: 18px;
            padding-left: 15px;
            letter-spacing: 1px;
        }
    }
    > .imageHolder {
        margin-top: 52px;
        aspect-ratio: 624/390;
        max-width: 624px;
    }
    .rightColorFullLine {
        &:after {
            width: 16px;
            @include colorlineVar2(top)
        }
    }
}
.resentListNews {
    padding: $main-space 0 0;
    @media only screen and (max-width: 1020px) {
        padding: $main-space-tb 0 0;
    }
}
.listNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    padding-top: 44px;
    @media only screen and (max-width: 1020px) {
        gap: 20px;
        padding-top: 0;
    }
    @media only screen and (max-width: 960px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .newsBox {
        background-color: $vialet-lightest-color;
        display: flex;
        @media only screen and (max-width: 480px) {
             flex-direction: column;   
        }
        .imageHolder {
            aspect-ratio: 296/248;
            width: 100%;
            @media only screen and (max-width: 960px) {
                width: auto;
                height: 240px;
            }
            @media only screen and (max-width: 660px) {
                height: 180px;
            }
            @media only screen and (max-width: 480px) {
                width: 100%;
                height: auto;
                max-height: 180px;
            }
        }
        .textHolder {
            padding: 32px 31px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media only screen and (max-width: 1020px) {
                padding: 15px;
            }
            .publishDate {
                font-weight: 500;
            }
        }
    }
}
.allNewsList {
    .listNews {
        grid-template-columns: repeat(3, 1fr);
        @media only screen and (max-width: 960px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 660px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .newsItem {
            background-color: $white-color;
            display: flex;
            flex-direction: column;
        }
        .imgHolder {
            aspect-ratio: 405/266;
            position: relative;
            @media only screen and (max-width: 660px) {
                width: auto;
                height: 250px;
            }
            @media only screen and (max-width: 480px) {
                width: 100%;
                height: auto;
                max-height: 180px;
            }

        }
        .titleBox {
            position: relative;
            margin: 0;
        }
        .maskLink {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
        .textHolder {
            padding: 31px 33px 26px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            @media only screen and (max-width: 660px) {
                padding: 20px;
            }
            p {
                flex-grow: 1;
            }
        }
    }
}
//contact
#contact {
    padding-top: 40px;
    max-width: 57%;
    @media only screen and (max-width: 960px) { 
        text-align: left;
        max-width: 100%;
    }
    .stylishCornerTreeColor {
        margin-top: 25px;
    }
}
.contactFirstSection {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;
    @media only screen and (max-width: 960px) {
        flex-direction: column;
        text-align: center;
    }
}
.contact-teaser {
    background-color: $vialet-color;
    padding: 83px 150px 118px 93px;
    position: relative;
    color: $white-color;
    margin-top: 24px;
    width: 42%;
    @include font(18, 28);
    font-weight: 500;
    @media only screen and (max-width: 1200px) {
        padding: 35px 45px;
        align-self: flex-end;
    }
    @media only screen and (max-width: 960px) { 
        width: 100%;
        text-align: left;
    }
    a {
        color: $white-color;
        @include font(18, 28);
        font-weight: 500;
    }
    &::before {
        content: '';
        height: 183px;
        width: 23px;
        left: -23px;
        bottom: 0;
        position: absolute;
        @include colorlineVar2(bottom);
    }
    &::after {
        content: '';
        height: 23px;
        width: 133px;
        top: -23px;
        right: 0;
        position: absolute;
        @include colorlineVar3(right);
    }
    address {
        font-style: normal;
        p > span {
            display: block;
        }
        .partTitle {
            color: $white-color;
            opacity: 0.6;
            @include font(14, 20);
            padding-bottom: 11px;
            margin-bottom: 13px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        }
        .addInfo, .addInfo a {
            color: $white-color;
            opacity: 0.6;
            @include font(14, 20);
        }
    }
    .sotial-links {
        width: 144px;
        padding-top: 30px;
        svg path {
            fill: #e0e2ff;
        }
        a:hover svg path {
            fill: $white-color;
        }
    }
}
#map {
    padding-top: $main-space;
    @media only screen and (max-width: 1020px) {
      padding-top: $main-space-tb;
    }
    .imgHolder {
        aspect-ratio: 1282/409;
        width: 100%;
    }
}

//career sub page
.positionFirstSection {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 480px) {
        flex-direction: column;
    }
}
.colorTeaser {
    background-color: #FFE0C7;
    color: $black-color;
    padding: 82px 110px 60px 80px;
    @media only screen and (max-width: 960px) {
        margin-left: 30px;
        padding: 30px 25px 10px 30px;
    }
    @media only screen and (max-width: 480px) {
        margin: 20px 0 0;
    }
    ul {
        padding-top: 5px;
        li {
            padding-bottom: 16px;
        }
    }
}
#tabContainer {
    margin-top: $main-space;
    color: $black-color;
    @media only screen and (max-width: 1020px) {
        margin-top: $main-space-tb;
    }
    .tabTitle {
        border-bottom: 4px solid #E0F1F2;
        display: flex;
        justify-content: center;
        gap: 96px;
        @media only screen and (max-width: 960px) {
            gap: 25px;
        }
        @media only screen and (max-width: 480px) {
            gap: 5px;
        }
        @media only screen and (max-width: 400px) {
            flex-direction: column;
            padding: 0 20px;
        }
        li {
            padding: 44px 0 29px;
            cursor: pointer;
            font-weight: 600;
            @include font(24, 36);
            @media only screen and (max-width: 960px) {
                padding: 25px 0;
                @include font(18, 24);
            }
            &.active, &:hover {
                color: $blue-color-font;
                border-bottom: 4px solid $blue-color-font;
                margin-bottom: -4px;
            }

        }
    }
    .tabContent {
        padding: 97px 0 70px;
        margin: 0 auto;
        width: 66%;
        @media only screen and (max-width: 960px) {
            padding: 40px 0 20px;
            width: 75%;
        }
        > div {
            display: none;
            &.active {
                display: block;
            }
        }
        ul li {
            list-style-type: disc;
            margin-bottom: 24px;
        }
    }
}
#applyNow {
    padding: $main-space 0 0;
    @media only screen and (max-width: 1020px) {
        padding: $main-space-tb 0 0;
    }
    h3 {
        margin-bottom: 30px;
    }
    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 32px;
        .imputHolder {
            width: calc(50% - 16px);
            position: relative;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
        }
        .textareaHolder, .checkboxHolder {
            width: 100%;
            position: relative;
        }
        input, textarea {
            border: 0;
            background: $vialet-lightest-color;
            color: #4e4f5d;
            padding: 42px 40px 30px;
            margin-bottom: 0;
        }
        textarea {
            height: 100px;
            height: 225px;
            &::placeholder {
                @include font(18, 28);
                font-weight: 500;
                position: absolute;
                left: 40px;
                top: 36px;
            }
        }
        label  {
            @include font(18, 28);
            font-weight: 500;
            position: absolute;
            left: 40px;
            top: 50%;
            transform: translateY(-50%);

        }
        // input[type="checkbox"] {
        //     width: 36px;
        //     height: 36px;
        //     position: relative;
        //     border: 3px solid $blue-color-font;
        //     cursor: pointer;
        //     background: $vialet-lightest-color;
        //     & ~ label {
        //         position: relative;
        //         display: block;
        //         padding-left: 20px;
        //         width: 65%;
        //         @include font(16, 24);
        //         font-weight: 400;
        //         top: 0;
        //         left: 0;
        //         transform: translateY(0);
        //         @media only screen and (max-width: 960px) {
        //             width: 100%;
        //         }
        //     }
        //     &::after {
        //         _content: '';
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         width: 18px;
        //         height: 11px;
        //         border: 3px solid $white-color;
        //         border-top: 0;
        //         border-right: 0;
        //         transform: translate(-50%, -50%) rotate(45deg);

        //     }
        //}
        .stylishCornerTreeColor {
            margin-top: 13px;
        }
    }
}

//newsDatails
.newsDetailsPage {
    padding: $main-space 0;
    @media only screen and (max-width: 1020px) {
        padding: $main-space-tb 0;
    }
    .imageHolder {
        aspect-ratio: 1280/369;
    }
    .contentHolder {
        width: 66%;
        margin: 0 auto;
        padding-top: 115px;
        @media only screen and (max-width: 960px) {
            width: 85%;
            padding-top: 55px;
        }
    }
}
// people
.personeInfo {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    .imgHolder {
        aspect-ratio: 320/320;
        @include circle(320);
        overflow: hidden;
        margin: 0 auto 50px;
        @media only screen and (max-width: 480px) {
            @include circle(280);
            margin-bottom: 20px;
        }
    }
    .h3 {
        margin-bottom: 6px;
    }
    .sectionTitle {
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    .sotial-links {
        padding-top: 5px;
        justify-content: center;
    }
}
.peoplePage {
    margin-bottom: $main-space;
    @media only screen and (max-width: 1020px) {
        margin-bottom: $main-space-tb;
    }
}
//private polici
.textPageWithLeftLine {
    position: relative;
    padding: 96px 0 71px;
    @media only screen and (max-width: 1020px) {
        padding: 50px 0;
    }
    &:after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: -24px;
        width: 296px;
        height: 24px;
        @include colorlineVar2(left)
    }
}
#privatPolicy {
    margin-bottom: 24px;
    .pixelOrange::before {
        width: 24px;
        height: 24px;
    }
    .titleSectionHolder.pixelOrange {
        padding-top: 50px;
        margin-bottom: 46px;
        &::before {
            width: 24px;
            height: 24px;
        }
    }
    .h2 {
        margin-bottom: 7px;
    }
    .contentHolder {
        margin: 0 auto;
        width: 66%;
        @media only screen and (max-width: 1020px) {
            width: 85%;
        }
    }
}