@import "../helpers/variables";
@import "../helpers/mixins";

//news
.mainNews {
    .authorInfo span {
        display: inline-block;
        &.publishDate {
            border-left: 1px solid $font-color;
            margin-left: 18px;
            padding-left: 15px;
            letter-spacing: 1px;
        }
    }
    > .imageHolder {
        margin-top: 52px;
        aspect-ratio: 624/390;
        max-width: 624px;
        &.fullWidth {
            max-width: 1280px;
        }
    }
    .rightColorFullLine {
        &:after {
            width: 16px;
            @include colorlineVar2(top)
        }
    }
}
.resentListNews {
    padding: $main-space 0 0;
    @media only screen and (max-width: 1020px) {
        padding: $main-space-tb 0 0;
    }
}
.listNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    padding-top: 44px;
    @media only screen and (max-width: 1020px) {
        gap: 20px;
        padding-top: 0;
    }
    @media only screen and (max-width: 960px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .newsBox {
        background-color: $vialet-lightest-color;
        display: flex;
        @media only screen and (max-width: 480px) {
             flex-direction: column;   
        }
        .imageHolder {
            aspect-ratio: 296/248;
            width: 100%;
            @media only screen and (max-width: 1200px) {
                max-width: 220px;
                height: auto;
            }
            @media only screen and (max-width: 960px) {
                width: auto;
                height: 240px;
            }
            @media only screen and (max-width: 660px) {
                height: 180px;
            }
            @media only screen and (max-width: 480px) {
                width: 100%;
                height: auto;
                max-height: 180px;
            }
        }
        .textHolder {
            padding: 32px 31px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media only screen and (max-width: 1020px) {
                padding: 15px;
            }
            .publishDate {
                font-weight: 500;
            }
        }
    }
}
.listNews {
    .imageHolder {
        position: relative;
    }
    .titleBox {
        position: relative;
        margin: 0;
        overflow: hidden;
        max-height: 140px;
        margin-bottom: 20px;
    }
    .maskLink {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        &:hover ~ .h4 {
            text-decoration: underline; 
        }
        &:hover ~ img {
            border: 1px solid $black-color; 
        }
    }
}
.allNewsList {
    .listNews {
        grid-template-columns: repeat(3, 1fr);
        @media only screen and (max-width: 960px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 660px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .newsItem {
            background-color: $white-color;
            display: flex;
            flex-direction: column;
        }
        .imageHolder {
            aspect-ratio: 405/266;
            position: relative;
            @media only screen and (max-width: 660px) {
                width: auto;
                height: 250px;
            }
            @media only screen and (max-width: 480px) {
                width: 100%;
                height: auto;
                max-height: 180px;
            }

        }
        .textHolder {
            padding: 31px 33px 26px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            @media only screen and (max-width: 660px) {
                padding: 20px;
            }
            p {
                flex-grow: 1;
            }
        }
    }
}
//newsDatails
.newsDetailsPage {
    .contentHolder {
        width: 66%;
        margin: 0 auto;
        padding-top: 115px;
        @media only screen and (max-width: 960px) {
            width: 85%;
            padding-top: 55px;
        }
    }
}