@import "../helpers/variables";
@import "../helpers/mixins";
//service page
.servicesPageCampaign {
    .twoColumns {
        align-items: center;
        @media only screen and (max-width: 960px) {
            flex-direction: row;
            gap: 20px;
            & > div {
                max-width: 47%;
            }
        }
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            & > div {
                max-width: 100%;
            }
        }
        p {
            margin-bottom: 41px;
        }
    }
    .navOnPage {
        padding-top: 13px;
        
        li {
            margin-bottom: 16px;
        }
        .arrowLink {
            color: $main-color;
            font-weight: 600;
            @include font(24, 36);
            display: inline;
            &::before, &::after {
                display: none;
            }
            &:hover {
                &:not(.btn):hover {
                    text-shadow: $orange-color 1px 0 10px;
                }
                &::before, &::after {
                    display: block;
                }
            }
        }
    }
}
.servicesPage.bg-violet {
    z-index: -1;
    position: relative;
}
.servicePageContent {
    .imageAndText {
        .twoColumns {
            align-items: center;
            .textHolder {
                padding-left: 17px;
            }
            @media only screen and (max-width: 960px) {
                flex-direction: row;
                & > div {
                    max-width: 47%;
                }
            }
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                & > div {
                    max-width: none;
                }
            }
        }
        .revert {
            flex-direction: row-reverse;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                & > div {
                    max-width: none;
                }
            }
            .textHolder {
                padding-left: 0;
            }
        }
        .imageHolder {
            aspect-ratio: 516/539;
            width: 100%;
            max-width: 516px;
            align-self: flex-start;
            margin-top: -96px;
            @media only screen and (max-width: 1200px) {
                max-width: 45%;
            }
            @media only screen and (max-width: 1020px) {
                margin-top: 0;
            }
            @media only screen and (max-width: 768px) {
                margin-bottom: 20px;
                max-height: 350px;
            }
            @media only screen and (max-width: 480px) {
                max-height: 250px;
            }
        }
    }
}