/* Variables */

$base-width: 1280px;

$base-font: 'Poppins', sans-serif;

$main-color: #232536;

$white-color: #ffffff;
$orange-color: #FFA155;
$orange-light-color: #FFD3AF;
$orange-lightest-color: #FFE6D2;
$vialet-color: #666DFF;
$blue-color: #444CFC;
$black-color: #000;
$grey-dark-color: #303242;

$font-color: #A7A8AF;
$font-color-opacity-white: rgba(255, 255, 255, 0.87);
$font-link-color: #5C63FC;

$spaceColorContentBoxes: 30px 30px 0;
$spaceColorContentBoxes-medium: 20px 20px 0;


